<h2 class="center-align">Reporting</h2>
<hr>
<div>
  <h4>Donated:</h4>
  <p>{{donatedPerc}}%</p>
</div>
<div>
  <h4>Purchased:</h4>
  <p>{{purchPerc}}%</p>
</div>
<div>
  <h4>Farms:</h4>

  <mat-form-field>
    <mat-select (change)="onFilterChange($event)" placeholder="Filter By..." [(value)]="selected">
      <mat-optgroup label="Value/Weight">
        <mat-option value="Value">Value($)</mat-option>
        <mat-option value="Weight">Weight(lb)</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Donated/Purchased">
        <mat-option value="Donated">Donated</mat-option>
        <mat-option value="Purchased">Purchased</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <p *ngIf="selected =='Weight'">Total Weight: <b> {{totalWeight}}</b></p>
  <p *ngIf="selected =='Value'">Total Value: <b> ${{totalValue}}</b></p>
  <div class="pieChart" *ngIf="renderChart && !orgTypeReport">
    <p-chart type="pie" [data]="data"></p-chart>
  </div>
  <div class="row" *ngIf="orgTypeReport && renderChart">
    <div class="col-sm-6 col-xs-12" *ngFor="let data of orgTypeData">
      <p-chart type="pie" [data]="data.data" [options]="data.option"></p-chart>
    </div>
  </div>
</div>
