@import "../../styles";

.row {
  height: $footer-height;
  position: fixed;
  width: 100%;
  bottom: 0; /* stick to bottom */
  border-top: 6px double gray;
  background-color: rgba(0, 100, 0, 0.52);
}
