<div *ngIf="!harvestStarted" class="start">
  <button mat-button (click)="startHarvest()">Begin Harvest</button>
</div>
<div *ngIf="harvestStarted">
  <div class="date">{{today}}</div>
  <mat-form-field>
    <mat-select placeholder="Favorite food">
      <mat-option *ngFor="let crop of tempCrops" [value]="crop">
        {{ crop.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="username">
    <input matInput placeholder="Username" value="">
  </mat-form-field>
</div>
