@import "../styles";

.header {
  height: $header-height;
  border-bottom: $header-border-width solid $border;
  background-color: $brand-green;
  width: 100%;

  position: fixed;
  top: 0; /* stick to top */
}

.content {
  margin: $header-height 0 $footer-height;
  height: calc(100vh - #{$header-height} - #{$footer-height});

  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  height: $footer-height;
  border-top: $footer-border-width solid $border;
  background-color: $brand-green;
  width: 100%;

  position: fixed;
  bottom: 0; /* stick to bottom */
}
