<div class="frame mt-4" *ngIf="doneLoading">
  <div *ngFor="let entry of entries; let i = index; trackBy:trackByIndex" class="mt-3">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Entry {{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            Total Price ${{entry.priceTotal}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Date" disabled="true" [value]="today | date:'short'">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Coordinator" disabled="true"
                   [value]="entry.harvester.firstName ? entry.harvester.firstName + ' ' + entry.harvester.lastName: 'John Doe'">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Crop" disabled="true" [value]="entry.crop.name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Selected Variety" disabled="true" [value]="entry.selectedVariety">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Pounds" disabled="true" [value]="entry.pounds">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Recipient" disabled="true" [value]="entry.recipient.name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Comment" disabled="true" [value]="entry.comments">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
