@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$brand-green: #4bb758;
$brand-grey: #4b4d4f;
$brand-pink: #ad2679;
$brand-orange: #f27f30;
$brand-yellow: #fce363;

// HEADER AND FOOTER VARIABLES
$header-height: 75px;
$footer-height: $header-height;

html, body {
  margin:0;
  padding:0;
  height:100%; /* needed for container min-height */
}
