@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$brand-green: #4bb758;
$border: #3e9749;
$brand-grey: #4b4d4f;
$brand-pink: #ad2679;
$brand-orange: #f27f30;
$brand-yellow: #fce363;

// HEADER AND FOOTER VARIABLES
$header-height: 60px;
$footer-height: 35px;
$header-border-width: 3px;
$footer-border-width: $header-border-width;

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */

  overflow: hidden;
}

// Represents a custom unit standing for "content-width" which is equivalent to the entire viewport width MINUS the
// left and right padding added by bootstrap all divided by 100, thus slicing up the valid content width into hundredths.
// Usage (in a .scss file):
// @import "path/to/styles.css";
// .something {
//    width: calc(10 * #{$cw});
// }
$cw: calc((100vw - 15px - 15px) / 100);

// UTILITY CLASSES
.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
