<h2 class="center-align">User Management</h2>
<button type="button" class="btn btn-success max-width add-new-user-button" (click)="createNewUser();" [disabled]="loading">Add New User</button>
<ng-container *ngIf="loading">
  <div class="center-align">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <mat-accordion>
    <ng-container *ngFor="let user of users">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{user.firstName}}</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Name: {{user.firstName}} {{user.lastName}}</p>
        <button type="button" (click)="deleteUser(user);" class="btn btn-danger">Delete</button>
        <button type="button" (click)="editUser(user);" class="btn btn-info">Edit</button>
      </mat-expansion-panel>
    </ng-container>
    <div id="spacer"></div>
  </mat-accordion>
</ng-container>
